Web service/HelloService/ServiceTester/Service References/HelloService/HelloService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4797/HelloService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zbir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZbirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZbirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Razlika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RazlikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RazlikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proizvod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProizvodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProizvodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kolicnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KolicnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KolicnikResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllArchParks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllArchParksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllArchParksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllParkObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="park_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllParkObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllParkObjectsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat1" type="xs:double" />
        <xs:element minOccurs="0" name="lon1" type="xs:double" />
        <xs:element minOccurs="0" name="lat2" type="xs:double" />
        <xs:element minOccurs="0" name="lon2" type="xs:double" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="unit" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lon1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="park_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distancesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distancess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat1" type="xs:double" />
        <xs:element minOccurs="0" name="lon1" type="xs:double" />
        <xs:element minOccurs="0" name="park_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distancessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distancessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>