Web service/HelloService/ServiceTester/Service References/HelloService/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4797/HelloService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4797/HelloService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IHelloService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Zbir_InputMessage">
    <wsdl:part name="parameters" element="tns:Zbir" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Zbir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZbirResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Razlika_InputMessage">
    <wsdl:part name="parameters" element="tns:Razlika" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Razlika_OutputMessage">
    <wsdl:part name="parameters" element="tns:RazlikaResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Proizvod_InputMessage">
    <wsdl:part name="parameters" element="tns:Proizvod" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Proizvod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProizvodResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Kolicnik_InputMessage">
    <wsdl:part name="parameters" element="tns:Kolicnik" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Kolicnik_OutputMessage">
    <wsdl:part name="parameters" element="tns:KolicnikResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_AllArchParks_InputMessage">
    <wsdl:part name="parameters" element="tns:AllArchParks" />
  </wsdl:message>
  <wsdl:message name="IHelloService_AllArchParks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllArchParksResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_AllParkObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:AllParkObjects" />
  </wsdl:message>
  <wsdl:message name="IHelloService_AllParkObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllParkObjectsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/SayHello" message="tns:IHelloService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/SayHelloResponse" message="tns:IHelloService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Zbir">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/Zbir" message="tns:IHelloService_Zbir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/ZbirResponse" message="tns:IHelloService_Zbir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Razlika">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/Razlika" message="tns:IHelloService_Razlika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/RazlikaResponse" message="tns:IHelloService_Razlika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Proizvod">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/Proizvod" message="tns:IHelloService_Proizvod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/ProizvodResponse" message="tns:IHelloService_Proizvod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kolicnik">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/Kolicnik" message="tns:IHelloService_Kolicnik_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/KolicnikResponse" message="tns:IHelloService_Kolicnik_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllArchParks">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/AllArchParks" message="tns:IHelloService_AllArchParks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/AllArchParksResponse" message="tns:IHelloService_AllArchParks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllParkObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/AllParkObjects" message="tns:IHelloService_AllParkObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/AllParkObjectsResponse" message="tns:IHelloService_AllParkObjects_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloService" type="tns:IHelloService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IHelloService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Zbir">
      <soap:operation soapAction="http://tempuri.org/IHelloService/Zbir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Razlika">
      <soap:operation soapAction="http://tempuri.org/IHelloService/Razlika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proizvod">
      <soap:operation soapAction="http://tempuri.org/IHelloService/Proizvod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kolicnik">
      <soap:operation soapAction="http://tempuri.org/IHelloService/Kolicnik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllArchParks">
      <soap:operation soapAction="http://tempuri.org/IHelloService/AllArchParks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllParkObjects">
      <soap:operation soapAction="http://tempuri.org/IHelloService/AllParkObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="BasicHttpBinding_IHelloService" binding="tns:BasicHttpBinding_IHelloService">
      <soap:address location="http://localhost:4797/HelloService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>